.card{
  .image{
    img{
      width: 250px;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
  .description{
    h3{
      span{
        position: relative;
        color: #0000c4;
      }
    }
    button{
      width: 250px;
      height: 42px;
      background: #0000c4;
      color: white;
      border-radius: 6px;
      border: 0;
      cursor: pointer;
    }
  }
}