.container{
  width: 100%;
  display: flex;
  justify-content: center;
  .parliament{
    max-width: 1440px;
    width: 100%;
    h1{
      color: #0000C4;
      font-size: 40px;
    }
  }
  .members{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
  }
}